* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
  }
  
  .box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 60s linear infinite;
  }
  
  .box:hover{
    animation-play-state: paused;
  }
  
  @keyframes animate {
    0% {
      transform: perspective(1000px) rotateY(90deg);
    }
    100% {
      transform: perspective(1000px) rotateY(720deg);
    }
  }
  
  .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    overflow: hidden;
  }
  .box span img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    cursor: pointer;
  
  }
  .box span img:hover{
    opacity: 1;
    transform: scale(1.1);
  }
  
  .showElement{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
  }
  .scale-enter{
    opacity: 0;
  }
  .scale-enter-active{
    transition: opacity 1s;
  }
  .scale-leave-active{
    transition:opacity 1s;
    opacity: 0;
  }
  
  
  .showElement img{
    max-width: 600px;
    max-height: 600px;
    border-radius: 5px;
  
  }
  
  @keyframes animate1 {
    0% {
     
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    
    }
  }
  
  .closeButton{
    position: absolute;
    top: 0%;
    left: 110%;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.509);
    background: none;
    padding: 5px 6px 1px 6px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    display:inline-block;
  }
  .closeButton:hover{
    background-color: rgba(75, 75, 75, 0.612);
    color: rgb(255, 255, 255);
  
  }
  
  .nextButton{
    position: absolute;
    top: 200px;
    left: 115%;
    font-size: 100px;
    padding: 5px 6px 1px 6px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: rgba(255, 255, 255, 0.708);
    background: none;
    cursor: pointer;
    display: inline;
    transform: translate(-95%, -40%);
  }
  .nextButton:hover{
    color: rgba(255, 255, 255, 0.899);
  }
  
  .previousButton{
    position: absolute;
    top: 200px;
    left: -10%;
    font-size: 100px;
    padding: 5px 6px 1px 6px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: rgba(255, 255, 255, 0.708);
    background: none;
    cursor: pointer;
    display: inline;
    transform: translate(-95%, -40%);
  }
  .previousButton:hover{
    color: rgba(255, 255, 255, 0.899);
  }
  
  .className{
    display: none;
  }
  
  .context{
    color: aliceblue;
    margin: 0px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.81);
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
  }
